* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --color-primary: #000000;
    --background-primary: #ffffff;
    --color-secondary: #919191;
    --color-danger: #ffffff;
    --background-danger: #ca0000;
    --color-info: #ffffff;
    --background-info: #006faf;
    
    --modal-backdrop-background-color: rgba(0, 0, 0, 0.75);
    --modal-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    --modal-text-color: rgb(83, 83, 83);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    display: block;
}

button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: darksalmon;
    color: darkred;
    padding: 40px 60px;
    font-size: 1.5em;
    border: none;
}